<div class="container align-items-start">
    <div class="row flex-lg-row align-items-end g-5 py-5 px-0">
        <div class="col-lg-3 col-sm-6 col-lg-2 pt-5 ">
          <img src="https://raw.githubusercontent.com/santiagoss01/exercise-collaborative-html-website-Carlos-Santiago/master/website/assets/img/2.jpg" class="rounded-circle mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-8 justify-self-centerpl-0 px-0 ">
          <h2 class="fw-bold mb-2">This second heading<span class="text-secondary"> is pretty cool too</span></h2>
          <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        </div>
    </div>
    </div>